.row
  .col-md-4
    %h1.text-center Todo
    = render @to_do

  .col-md-4
    %h1.text-center Doing
    = render @doing

  .col-md-4
    %h1.text-center Done
    = render @done
%br

= link_to 'New Task', new_task_path
