%h1 ToDo tasks
%table
  %tr
    %th Content
    %th State
    %th{ colspan: '3'}
  = render @to_do

%br

%h1 Doing tasks
%table
  %tr
    %th Content
    %th State
    %th{ colspan: '3'}
  = render @doing

%br

%h1 Done tasks
%table
  %tr
    %th Content
    %th State
    %th{ colspan: '3'}
  = render @done

%br

= link_to 'New Task', new_task_path
