.row
  .col-md-4
    %h1.text-center Todo

    .panel.panel-info
      .panel-heading
        Heading
      .panel-body
        Content
      .panel-footer.text-center
        Footer i am

  .col-md-4
    %h1.text-center Doing
  .col-md-4
    %h1.text-center Done
